<html>
   <head>

   </head>
   <body>
      <!-- <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form> -->
      <form action ="/player" method = "POST">
         <input type = "submit" value = "play/pause">         
      </form>
      <form action ="/exit" method = "POST">
         <input type = "submit" value = "exit">         
      </form>
   </body>
</html>